body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/162/063/original/sunsetwithcar.png?1743632172");
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  color: white;
}